.cabecalho__conteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3.375rem;
    text-align: center;
    width: 588px;
}

@media screen and (max-width: 768px) {
    .cabecalho__conteudo {
        margin: 0;
    }
}