.cabecalho {
    align-items: center;
    background-image: url('../../img/Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}