.rodape__lista {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 425px) {
    .rodape__lista {
        flex-direction: column;
    }
}