.secao__titulo {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

@media screen and (max-width: 768px) {
    .secao__titulo {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 425px) {
    .secao__titulo {
        font-weight: 600;
    }
}